/* Background image */

body {
  background-image: url('https://i.imgur.com/60Zh66s.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
}

img {
  max-height: 100%;
}

/* Pitch, Grid, and Player Images */

.pitch {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100vh;
  width: auto;
  margin: auto;
}

.player_photo {
  height: 7em;
}

/* Player Positioning */

#rm1 {
  grid-column-start: 1;
}

#rm2 {
  grid-column-start: 1;
  grid-row-start: 2;
}

#rm3 {
  grid-column-start: 1;
  grid-row-start: 3;
}

#fcb1 {
  grid-column-start: 3;
  grid-row-start: 1;
  display: flex;
  justify-content: flex-end;
}

#fcb2 {
  grid-column-start: 3;
  grid-row-start: 2;
  display: flex;
  justify-content: flex-end;
}

#fcb3 {
  grid-column-start: 3;
  grid-row-start: 3;
  display: flex;
  justify-content: flex-end;
}

/* Text */
.text-bar {
  display: flex;
  justify-content: space-between;
  color: white;
}

#rm-stamina,
#fcb-stamina {
  font-size: 1.5em;
}

#text-box {
  text-align: center;
  color: white;
  font-size: 2em;
}

/* Buttons */

#buttons {
  grid-column-start: 2;
  grid-row-start: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* #button1 {
  display: flex;
  justify-content: center;
  align-items: center;
} */

@media screen and (max-width: 1209px) {
  body {
    background-image: url('https://i.imgur.com/GnvoyVU.jpg');
  }

  #rm-stamina,
  #fcb-stamina {
    font-size: 1em;
  }

  .player_photo {
    height: 6em;
  }

  #text-box {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 873px) {
  body {
    background-image: url('https://i.imgur.com/z1symAI.jpg');
  }
}
